<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google font icons link -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />
    <!-- Thick google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    />

    <!-- Linking CSS of HomePage -->
    <link rel="stylesheet" href="../../styles/RoomPage.css" />
    <!-- Linking Javascript of HomePage -->
    <script src="../../scripts/RoomPage.js" defer></script>

    <title><%= data.room.name %></title>
  </head>
  <body>
    <!-- header -->
    <header class="home__header">
      <a href="/">
        <img
          src="../../images/airbnb-logo.png"
          class="header__logo"
          alt="Airbnb logo"
        />
      </a>
      <div class="header__search">
        <button class="guests">Start your search</button>
        <div class="search__box">
          <span class="material-symbols-outlined"> search </span>
        </div>
      </div>

      <div class="header__options">
        <a href="/host/homes" class="header__options--make-airbnb-your-home"
          >Airbnb your home</a
        >
        <button class="header__options--language-preference">
          <span class="material-symbols-outlined"> language </span>
        </button>
        <button class="header__options--auth">
          <span class="material-symbols-outlined"> menu </span>
          <span class="material-symbols-outlined"> account_circle </span>
        </button>
        <% if(!data?.username) {%>
        <div class="header__options--auth-more-options auth--closed">
          <div class="auth-more-options__top">
            <button class="text_bold sign-up">Sign Up</button>
            <button class="login">Login</button>
            <div></div>
          </div>
          <div class="auth-more-options__bottom">
            <button><a href="/host/homes">Airbnb your home</a></button>
            <button><a href="/host/experience">Host an experience</a></button>
            <button><a href="/help">Help</a></button>
          </div>
        </div>
        <% } else { %>
        <div class="header__options--auth-more-options auth--closed">
          <div class="auth-more-options__top">
            <button class="text_bold">Messages</button>
            <button class="text_bold">Notificaions</button>
            <button class="text_bold">Trips</button>
            <button class="text_bold">WishList</button>
          </div>
          <div class="auth-more-options__bottom">
            <button><a href="/host/homes">Airbnb your home</a></button>
            <button><a href="/host/experience">Host an experience</a></button>
            <button><a href="#">Account</a></button>
          </div>
          <div class="auth-more-options__bottom">
            <button><a href="/help">Help</a></button>
            <button><a href="/auth/logout">Logout</a></button>
          </div>
        </div>
        <% } %>
      </div>
    </header>

    <!-- login signup modal backdrop-->
    <section class="login-signup__modal__backdrop modal--closed">
      <!-- login signup modal -->
      <div class="login-signup__modal">
        <!-- login signup modal header -->
        <div class="login-signup__modal--header">
          <button class="close--modal">
            <span class="material-symbols-outlined"> close </span>
          </button>
          <h2>Log in or sign up</h2>
        </div>
        <!-- login form -->
        <form
          class="login-signup__form login"
          method="post"
          action="/auth/login"
        >
          <h2>Welcome to Airbnb</h2>
          <input type="email" placeholder="Enter your email" name="username" />
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
          />
          <p>
            We’ll call or text you to confirm your number. Standard message and
            data rates apply. Privacy Policy
          </p>
          <button type="submit" class="login-signup__form--submit--primary">
            Continue
          </button>
          <% if(data) {%>
          <p><%= data.error %></p>
          <% } %>
        </form>
        <!-- Sign up form -->
        <form
          class="login-signup__form signup login-signup__form--disabled"
          method="post"
          action="/auth/signup"
        >
          <h2>Welcome to Airbnb</h2>
          <input type="email" placeholder="Enter your email" name="username" />
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
          />
          <input
            type="text"
            placeholder="Confirm your password"
            name="password2"
          />
          <p>
            We’ll call or text you to confirm your number. Standard message and
            data rates apply. Privacy Policy
          </p>
          <button type="submit" class="login-signup__form--submit--primary">
            Continue
          </button>
          <% if(data) {%>
          <p><%= data.error %></p>
          <% } %>
        </form>
      </div>
    </section>

    <!-- main -->
    <main class="main">
      <!-- room basics -->
      <div class="room__basics">
        <h1><%= data.room.name %></h1>
        <div class="room__excerpt--data">
          <div class="room__excerpt--data-left display__flex__baseline">
            <span class="material-symbols-outlined icon-star"> star </span>
            <% if(data.room.review_scores?.review_scores_rating){ %>
            <span>
              <%= data.room.review_scores.review_scores_rating / 20 %>
            </span>
            <span style="text-decoration: underline"
              ><%= data.room.number_of_reviews %> reviews
            </span>
            <% } else { %>
            <span> New </span>
            <% } %>
            <span>&middot;</span>
            <% if(data.room.host.host_is_superhost) {%>
            <span class="material-symbols-outlined"> workspace_premium </span>

            <span style="text-decoration: underline">Superhost </span>
            <% } %> &nbsp;
            <span style="text-decoration: underline"
              ><%= data.room.address.street %>
            </span>
          </div>
          <div class="room__excerpt--data-right">
            <span class="material-symbols-outlined"> ios_share </span>
            <span style="text-decoration: underline">Share</span>
            <span class="material-symbols-outlined"> favorite </span>
            <span style="text-decoration: underline">Save</span>
          </div>
        </div>
      </div>
      <!-- room images -->
      <div class="room__image">
        <img src="<%= data.room.images.picture_url%>" alt="Room Image" />
        <img src="<%= data.room.images.picture_url%>" alt="Room Image" />
        <img src="<%= data.room.images.picture_url%>" alt="Room Image" />
        <img src="<%= data.room.images.picture_url%>" alt="Room Image" />
        <img src="<%= data.room.images.picture_url%>" alt="Room Image" />
      </div>
      <!-- room details -->
      <div class="room__name--rooms">
        <h2>Hosted By <%= data.room.name %></h2>
        <p>
          <span><%= data.room.accommodates %> guests</span>
          <span>&middot;</span>
          <% if(data.room.beds > 1) { %>
          <span><%= data.room.beds %> beds </span>
          <% } else { %>
          <span>1 bed </span>
          <% } %>
          <span>&middot;</span>
          <% if(data.room.bathrooms > 1) { %>
          <span><%= Number(data.room.bathrooms) %> bathrooms </span>
          <% } else { %>
          <span>1 bathroom </span>
          <% } %>
          <span style="border-bottom: 2px solid lightgrey"></span>
        </p>
      </div>
      <!-- Ameities -->
      <div class="room__amenities">
        <div class="room__amenities--left">
          <h2>What this place offers</h2>
          <div class="amenities__flex">
            <div class="amenities__left">
              <% for(let i = 0; i < 10; i = i+2) {%>
              <p><%= data.room.amenities[i] %></p>
              <% } %>
            </div>
            <div class="amenities__right">
              <% for(let i = 1; i < 10; i = i+2) {%>
              <p><%= data.room.amenities[i] %></p>
              <% } %>
            </div>
          </div>
        </div>
        <div class="room__amenities--right">
          <div class="amenities__price">
            <p class="text_bold">
              <%= new Intl.NumberFormat('en-US', { style: 'currency', currency:
              'INR', minimumFractionDigits: 2 }).format(data.room.price * 82) %>
              <span style="font-size: 13px">night</span>
            </p>
          </div>
          <form action="/book/<%= data.room._id  %> " method="post">
            <div class="amenities__checkin__checkout">
              <div class="checkin__checkout">
                <div class="input__element">
                  <span>CHECK IN</span>
                  <input type="date" id="room__checkin" value ="<%= new
                  Date().toLocaleString("en-US").split(',')[0] %> "
                  name="room__checkin" />
                </div>
                <div class="input__element">
                  <span>CHECK OUT</span>
                  <input
                    type="date"
                    id="room__checkout"
                    name="room__checkout"
                  />
                </div>
              </div>
              <div class="room__guests">
                <div class="input__element">
                  <span>Guests</span>
                  <select name="room__guests" id="room__guests">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="amenities__reserve">
              <button type="submit">Reserve</button>
            </div>
          </form>
          <div class="amenities__not__charged">
            <p>You won't be charged yet</p>
          </div>
          <div class="amenities__price__calculation">
            <div class="price__calculation__item">
              <p>
                <%= new Intl.NumberFormat('en-US', { style: 'currency',
                currency: 'INR', minimumFractionDigits: 2
                }).format(data.room.price * 82) %> x
                <span class="calculation__item__selected__nights"></span> nights
              </p>
              <p>
                <%= new Intl.NumberFormat('en-US', { style: 'currency',
                currency: 'INR', minimumFractionDigits: 2
                }).format(data.room.price * 82) %>
              </p>
            </div>
            <% if(data.room.cleaning_fee) {%>
            <div class="price__calculation__item">
              <p>Cleaning fee</p>
              <p>
                <%= new Intl.NumberFormat('en-US', { style: 'currency',
                currency: 'INR', minimumFractionDigits: 2
                }).format(data.room.cleaning_fee * 82) %>
              </p>
            </div>
            <% } %>
          </div>
          <% if(data.room.cleaning_fee) {%>
          <div class="amenities__tax">
            <p class="text_bold">Total before taxes</p>
            <p>
              <%= new Intl.NumberFormat('en-US', { style: 'currency', currency:
              'INR', minimumFractionDigits: 2 }).format((Number(data.room.price)
              +Number( data.room.cleaning_fee)) * 82) %>
            </p>
          </div>
          <% } else {%>
          <div class="amenities__tax">
            <p class="text_bold">Total before taxes</p>
            <p>
              <%= new Intl.NumberFormat('en-US', { style: 'currency', currency:
              'INR', minimumFractionDigits: 2 }).format((Number(data.room.price)
              ) * 82) %>
            </p>
          </div>
          <% } %>
        </div>
      </div>

      <!-- room reviews -->
      <% if(data.room.review_scores?.review_scores_rating){ %>
      <div class="room__reviews">
        <h2>
          <span class="material-symbols-outlined icon-star"> star </span>
          <% if(data.room.review_scores?.review_scores_rating){ %>
          <span>
            <%= data.room.review_scores.review_scores_rating / 20 %>
          </span>
          <span style="text-decoration: underline"
            ><%= data.room.number_of_reviews %> reviews
          </span>
          <% } else { %>
          <span> New </span>
          <% } %>
        </h2>
        <div class="room__maintenance--reviews">
          <div class="maintenance__left">
            <p>
              Cleanliness
              <span>
                <%= data.room.review_scores.review_scores_cleanliness / 2 %>
              </span>
            </p>
            <p>
              Communication
              <span>
                <%= data.room.review_scores.review_scores_communication / 2 %>
              </span>
            </p>
            <p>
              Check-in
              <span>
                <%= data.room.review_scores.review_scores_checkin / 2 %>
              </span>
            </p>
          </div>
          <div class="maintenance__right">
            <p>
              Accuracy
              <span>
                <%= data.room.review_scores.review_scores_accuracy / 2 %>
              </span>
            </p>
            <p>
              Location
              <span>
                <%= data.room.review_scores.review_scores_location / 2 %>
              </span>
            </p>
            <p>
              Value
              <span>
                <%= data.room.review_scores.review_scores_value / 2 %>
              </span>
            </p>
          </div>
        </div>
        <!-- room actual reviews -->
        <div class="room__actual--reviews">
          <% for(i = 0; i < 6; i++) {%>
          <div class="review__actual">
            <div class="review__user">
              <p class="text_bold">
                <%= data.room?.reviews[i]?.reviewer_name %> <%=
                data.room?.reviews[i]?.date.toLocaleString("en-US", { month:
                "long", year: "numeric" }) %>
              </p>
            </div>
            <div class="review__excerpt">
              <p>
                <%= data.room?.reviews[i]?.comments?.substring(0, 150) %>...
              </p>
            </div>
            <button style="cursor: pointer; text-decoration: underline">
              Show more
            </button>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>

      <!-- room hosted by -->
      <div class="room__hosted__by">
        <h2>Hosted By <span><%= data.room.host.host_name %> </span></h2>
        <div class="hosted__by">
          <div class="hosted__by--left">
            <p class="display__flex__baseline">
              <span class="material-symbols-outlined icon-star"> star </span><%
              if(data.room.review_scores?.review_scores_rating){ %>

              <span style="text-decoration: underline"
                ><%= data.room.number_of_reviews %> reviews
              </span>
              <% } else { %>
              <span> New </span>
              <% } %><span class="material-symbols-outlined">
                verified_user
              </span>
              Identity verified
            </p>
            <p><%= data.room.host.host_about %></p>
          </div>
          <% if(data.room.review_scores?.review_scores_rating){ %>
          <div class="hosted__by--right">
            <p>Response Rate: <%=data.room.host.host_response_rate %>%</p>
            <p>Response Time: <%= data.room.host.host_response_time %></p>
          </div>
          <% }%>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="home__footer">
      <div class="footer__left">
        <p>&copy; 2022 Airbnb,Inc.</p>
        <span>&middot;</span>
        <a class="footer__left--item" href="/privacy">Privacy</a>
        <span>&middot;</span>

        <a class="footer__left--item" href="/terms">Terms</a>
        <span>&middot;</span>

        <a class="footer__left--item" href="/sitemaps">Sitemaps</a>
        <span>&middot;</span>

        <a class="footer__left--item" href="/about/company-details"
          >Company Details</a
        >
        <span>&middot;</span>

        <button class="footer__left--item">Destinations</button>
      </div>
      <div class="footer__right">
        <button class="footer__right--item">English (IN)</button>
        <button class="footer__right--item">INR</button>
        <button class="footer__right--item default">Support & Resources</button>
      </div>
    </footer>
  </body>
</html>
